:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  --color-one: hsl(266, 53%, 28%);
  --color-two: hsl(104, 58%, 18%);
  --color-three: hsl(348, 58%, 25%);
  --light-one: hsl(266, 53%, 95%);
  --light-two: hsl(104, 58%, 95%);
  --light-three: hsl(348, 58%, 95%);
  --light-text-color: #efe8de;
  --kleur-steen: hsl(36, 40%, 76%);
  --kleur-steen-transparant: hsla(36, 40%, 76%, 50%);
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--light-one);

}

header {
  position: absolute;
  width: 100%;
  top: 0px;
  height: 60px;
  background-color: var(--color-one);
  color: var(--light-text-color);
}

header h1 {
  margin: 5px;
  text-align: center;
}

nav {
  top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  vertical-align: bottom;
}

nav a {
  color: var(--light-text-color);
}

nav a:hover {
  color: var(--color-two);
}

main {
  padding: 10px;
  padding-top: 60px;
}

button.steen {
  font-size: larger;
  border: 2px solid black;
  border-radius: 10px;
  margin: 2px;
  padding: 10px;
  min-width: 45px;
  height: 60px;
  background-color: var(--kleur-steen);
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  box-shadow: 2px 2px 3px black;
  transition: background-color 0.5s;
}

button.steen:active {
  transform: rotate(5deg) translate(0, -2px);
}
