:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  --color-one: hsl(266, 53%, 28%);
  --color-two: hsl(104, 58%, 18%);
  --color-three: hsl(348, 58%, 25%);
  --light-one: hsl(266, 53%, 95%);
  --light-two: hsl(104, 58%, 95%);
  --light-three: hsl(348, 58%, 95%);
  --light-text-color: #efe8de;
  --kleur-steen: hsl(36, 40%, 75%);
  --kleur-steen-transparant: hsla(36, 40%, 75%, 50%);
  --kleur-joker: hsl(36, 80%, 60%);
  --kleur-joker-transparant: hsla(36, 80%, 60%, 50%);
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--light-one);
}

header {
  position: absolute;
  width: 100%;
  top: 0px;
  height: 60px;
  background-color: var(--color-one);
  color: var(--light-text-color);
}

header h1 {
  margin: 5px;
  text-align: center;
}

nav {
  top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  vertical-align: bottom;
}

nav a {
  color: var(--light-text-color);
}

nav a:hover {
  color: var(--color-two);
}

main {
  padding: 10px;
  padding-top: 60px;
}

button.steen {
  font-size: larger;
  border: 2px solid black;
  border-radius: 10px;
  margin: 2px;
  padding: 10px;
  width: 45px;
  height: 60px;
  background-color: var(--kleur-steen);
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  box-shadow: 2px 2px 3px black;
  transition: background-color 0.5s;
}

button.steen:active {
  transform: rotate(5deg) translate(0, -2px);
}

main h1,
h2,
p {
  margin: 2vh auto;
  max-width: 1100px;
}

.kleur0 {
  color: black;
}

.kleur0:hover {
  background-image: linear-gradient(30deg, black 5%, rgba(0, 0, 0, 0) 15%);
}

.kleur1 {
  color: red;
}

.kleur1:hover {
  background-image: linear-gradient(150deg, red 5%, rgba(0, 0, 0, 0) 15%);
}

.kleur2 {
  color: green;
}

.kleur2:hover {
  background-image: linear-gradient(210deg, green 5%, rgba(0, 0, 0, 0) 15%);
}

.kleur3 {
  color: blue;
}

.kleur3:hover {
  background-image: linear-gradient(330deg, blue 5%, rgba(0, 0, 0, 0) 15%);
}

button.paneel-knop {
  padding: 5px;
  margin: 5px;
  min-width: 125px;
  min-height: 50px;
  border: solid black 2px;
  border-radius: 10px;
  background-color: var(--light-three);
  color: var(--color-three);
  transition: background-color 0.5s;
  transition: color 0.5s;
}

button.actief:hover {
  background-color: var(--color-three);
  color: var(--light-text-color);
}
